# NestJS Backend API URL
NEXT_PUBLIC_GATEWAY_URL="http://localhost:3051/api"
NEXT_PUBLIC_API_URL="http://localhost:3051/api"
BACKEND_API_URL="http://localhost:3051/api"

# NextAuth / Auth.js secret
AUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3050"
PORT=3050

# Google OAuth credentials
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""
